body {
    font-family: Arial, sans-serif;
    background: #1e1e2f;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 400px;
}

.card {
    background: #2c2c3f;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: #4caf50;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}

input[type="checkbox"] {
    width: auto;
    margin: 0;
    padding: 0;
}

.password-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: fit-content;
    margin: 4px auto 10px auto;
    cursor: pointer;
}

.register-toggle {
    margin: 0px auto 10px auto;
}

.generate-btn {
    margin-bottom: 10px;
}